.question {
  display: block;
}

.questionsummary {
  display: inline-block;
}

.tagindex {
  display: inline-block;
  width: 25%;
  padding: 20px;
}

.usersindex {
  display: inline-block;
  width: 25%;
  padding: 20px;
}

.answeritem {
  display: inline-block;
}

.answerbody {
  width: 60%;
}
.questionelement {
  display: inline-block;
}

.questionbody {
  width: 70%;
}

.questionvote {
  width: 15%;
}


html {
  margin: 0;
  padding: 0;
  border: 0;
}

#navbar {
  @include outer-container;
}

li.block {
  float: right;
  background-color: gray;
  list-style-type: none;
  padding-right: .5em;
  padding-left: .5em;
  padding-top: .1em;
  margin-right: .15em;
  height: 1.6em;
  font-family: 'Helvetica Neue';
}

.navlink {
  text-decoration: none;
  color: white;
}

#topnav-stack-ex {
  background-color: black;
}

.topnav-stack-ex {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.topnav-stack-ex .topnav-li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.topnav-stack-ex .topnav-li:hover {
  background: #555;
  color: #fff;
}

.topnav-stack-ex .topnav-li .topnav-stack-ex {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.topnav-stack-ex .topnav-li .topnav-stack-ex .topnav-stack-ex {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

.topnav-stack-ex .topnav-li .topnav-stack-ex .topnav-stack-ex:hover {
  background: #666;
}

.topnav-stack-ex .topnav-li:hover .topnav-stack-ex {
  display: block;
}


