.question {
  display: block;
}

.questionsummary {
  display: inline-block;
}

.tagindex {
  display: inline-block;
  width: 25%;
  padding: 20px;
}

.usersindex {
  display: inline-block;
  width: 25%;
  padding: 20px;
}

.answeritem {
  display: inline-block;
}

.answerbody {
  width: 60%;
}
